
// body {
//   background-color: $background-color;
//   color: $font-color;
//   margin: 40px auto;
//   max-width: 600px;
//   text-align: center;
// }

.game-options {
  display: none;
}

.banner {
  color: $font-color;
  font-size: 150%;
  text-transform: capitalize;
 }

.btn:focus {
  outline: 0;
 }

section {
  margin: 40px auto;
 }
