
$border: 1px solid $black;
$box-size: 40px;

.banner {
  font-size: 150%;
  margin: 40px;
  text-align: center;
  text-transform: capitalize;
 }

.tic-tac-toe-grid {
  display: none;
  margin: 0 auto;
  text-transform: uppercase;
  width: 75%;
}

.left {
  border-right: $border;
}

.right {
  border-left: $border;
}

.bottom {
  border-bottom: $border;
}

.box {
  height: $box-size;
  padding: 5% 0;
  text-align: center;
  vertical-align: middle;
}

.box:hover {
  background-color: $red;
}
